div.desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    & .icon {
        position: relative;
        width: 150px;
        height: 150px;
        display: flex;
        text-decoration: none;
        border-radius: 20px;
        overflow: hidden;
        & .title {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            color:red;
            padding: .2rem;
            background-color: black;
        }
        & .image {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}