div.desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    & .icon {
        position: relative;
        width: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        & .title {
            color:red;
        }
        & .image {
            border-radius: 20px;
        }
    }
}