nav {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 100;
    input#menu {
        display: none;
        & ~ label {
            cursor: pointer;
            color: white;
        }
        &:checked ~ .menu-wrapper {
            transform: translateX(150%);
        }
    }
    .menu-wrapper {
        transition: transform 500ms ease;
        position: relative;
        left: -150%;
        list-style: none;
        & .menu-item {
            &:first-of-type {
                border-radius: 1rem 1rem 0 0;
            }
            &:last-of-type {
                border-radius: 0 0 1rem 1rem;
            }
            background-color: black;
            padding: 0.3rem 1rem;
            & a {
                display: block;
                min-width: 5rem;
                color: white;
                text-decoration: none;
            }
        }
    }
}
